<a href="https://colab.research.google.com/github/D1emonk/My-repo/blob/main/%22lesson6_practice%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Задача 1
# Функции для разделения строки и преобразования ее в список слов
text = "Robin Singh"
print(text.split())

['Robin', 'Singh']

In [ ]:
# Задача 2
import math
time = 3
def litres(time):
    return math.floor(time * 0.5) # Функция для округления вниз до ближайшего целого числа.
print(litres(time))

1

In [ ]:
# Задача 3
n = 5
def sequence(n):
  if n > 0:
    return list(range(n, 0, -1))
print(sequence(n))

[5, 4, 3, 2, 1]

In [ ]:
# Задача 4
a = [1980, 1540, 2025]
def year(n):
  if n <= 0:
    raise ValueError("Год не должен быть 0")
  century = (n-1) // 100 + 1
  return century
for n in a:
  print(f"{n} Это {year(n)} век.")

1980 Это 20 век.
1540 Это 16 век.
2025 Это 21 век.

In [13]:
# Задача 5
def digit(n):
    # Cоздает новый список, добавляя каждое преобразованное число в него
    digits = [int(i) for i in str(n)]
    # Изменения порядка списка на месте
    digits.reverse()
    return digits
print(digit(35231))

[1, 3, 2, 5, 3]

In [12]:
# Задача 6.1
matrix = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
count = 0
# Внешний цикл проходит по индексам столбцов
for i in range(len(matrix)):
   # Внутренний цикл проходит по индексам строк
  for j in range(len(matrix)):
      count += 1 # Увеличиваем счётчик на 1
      if i % 2 == 0: # Если индекс столбца чётный
          matrix[j][i] = count # Заполняем столбец сверху вниз
      else:
          matrix[abs(j - 2)][i] = count # Заполняем столбец снизу вверх

for i in matrix: print(i)

[1, 6, 7]
[2, 5, 8]
[3, 4, 9]

In [14]:
# Задача 6.2
matrix = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
count = 0
# Внешний цикл проходит по индексам столбцов
for i in range(len(matrix)):
   # Внутренний цикл проходит по индексам строк
  for j in range(len(matrix)):
      count += 1 # Увеличиваем счётчик на 1
      if i % 2 == 0: # Если индекс столбца чётный
          matrix[i][j] = count # Заполняем столбец сверху вниз
      else:
          matrix[i][abs(j - 2)] = count # Заполняем столбец снизу вверх

for i in matrix: print(i)

[1, 2, 3]
[6, 5, 4]
[7, 8, 9]

In [ ]:
numbers_1 = [1, 2, 3, 4, 5]
numbers_2 = [6, 7, 8, 9, 10]
squares_1 = list(map(lambda x: x**2, numbers_1))
squares_2 = list(map(lambda y: y**2, numbers_2))
print(squares_1, squares_2)

[1, 4, 9, 16, 25] [36, 49, 64, 81, 100]

In [ ]:
# Задача: Есть массив который нужно отсортировать нестандартным способом
def recursive_sort(arr):

      # Сортирует массив с использованием рекурсии.

     def sort_once(a, n):
        if n == 1: #  Если остался один элемент, массив считается отсортированным
            return a
        for i in range(n - 1): # Проходим по массиву до элемента n-1
            if a[i] > a[i + 1]: # Если текущий элемент больше следующего, меняем их местами
                a[i], a[i + 1] = a[i + 1], a[i]
        return sort_once(a, n - 1) # Вызываем функцию снова, уменьшая размер массива (n)

     return sort_once(arr, len(arr)) # Запуск вспомогательной функции с изначальным размером массива

array = [5, 2, 9, 1, 5, 6]
sorted_array = recursive_sort(array)
print(sorted_array)

[1, 2, 5, 5, 6, 9]

In [ ]:
# Написать функцию, вычисляющее значение функции при х = 1.79
import math

def calculate_function(x):
    y = (
        (math.cos(math.exp(x)) + math.log(1 + x)**2)**2 +
        math.sqrt(math.exp(math.cos(x) + math.sin(2 / (math.pi * x))
        + math.sqrt(1 / x + math.cos(x)**2))) * math.sin(x)
    )
    return y

# Вычисление для x = 1.79
x = 1.79
result = calculate_function(x)
print(result)

5.577645860635992

In [ ]:
def search_substr(subst, st):
    # Приводим обе строки к нижнему регистру для игнорирования регистра
    if subst.lower() in st.lower():
        return "Есть контакт!"
    else:
        return "Мимо!"

# Пример использования
print(search_substr("Привет", "Ну, привет, мир!"))  # True
print(search_substr("пока", "Ну, привет, мир!"))    # False

Есть контакт!
Мимо!

In [ ]:
# Определить 3 наиболее часто встречаемых символа
from collections import Counter

def character(input_string):

    # Удаляем пробелы из строки
    filtered_string = input_string.replace(" ", "")

    # Используем Counter для подсчета вхождений каждого символа
    char_count = Counter(filtered_string)

    # Получаем три самых частых символа
    top_three = char_count.most_common(3)

    return top_three

# Пример использования функции
input_string = "Задание номер три"
result = character(input_string)
print(result)

[('а', 2), ('н', 2), ('и', 2)]

In [ ]:
# Создать словарь, который в качестве ключей будет принимать числа от 0 до 9
# Функция принимает строку из цифр и возвращает словарь из 3 самых часто встречающихся чисел.
def count_it(sequence):

    # Проверяем, что входные данные являются строкой
    if not isinstance(sequence, str):
        raise ValueError("Аргумент должен быть строкой")

    # Создаем пустой словарь для подсчета
    counts = {}

    # Проходим по каждому символу в строке
    for char in sequence:
        if char.isdigit():  # Убедимся, что символ — это цифра
            num = int(char)  # Преобразуем символ в число
            counts[num] = counts.get(num, 0) + 1  # Увеличиваем счетчик для этого числа

    # Сортируем словарь по значениям (количеству повторений) в порядке убывания
    sorted_counts = sorted(counts.items(), key=lambda item: item[1], reverse=True)

    # Возвращаем словарь из 3 самых частых элементов
    return dict(sorted_counts[:3])

# Пример использования
sequence = "123456789012345678901234567890"
result = count_it(sequence)
print(result)

{1: 3, 2: 3, 3: 3}

In [ ]:
# Определяем функцию для умножения на 2 и возведения в квадрат
def process_number(x):
    power = x*2
    return power ** power

# Исходный список чисел
numbers = [1, 2, 3, 4, 5]

# Используем map с нашей функцией
result = list(map(process_number, numbers))

print("Результат:", result)

Результат: [4, 256, 46656, 16777216, 10000000000]

In [ ]:
# Исходный список чисел
numbers = [1, 2, 3, 4, 5, 6, 7]

# Используем filter, чтобы отобрать числа больше 4
ocenki = list(filter(lambda x: x > 4, numbers))

# Считаем среднее значение отобранных чисел
if ocenki:  # Проверяем, что список не пустой
    avg = sum(ocenki) / len(ocenki)
else:
    avg = 0  # Если список пуст, среднее равно 0

print("Числа больше 4:", ocenki)
print("Среднее значение:", avg)

Числа больше 4: [5, 6, 7]
Среднее значение: 6.0

In [ ]:
a = {}
b = []
c = ()

In [ ]:
# Создание матрицы 3х3
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
# Изменение нечетных строк и нечетных столбцов на *
for i in range(3):  # Перебираем строки
    for j in range(3):  # Перебираем столбцы
        if i % 2 == 0 and j % 2 == 0:  # Нечетные строки и столбцы (индексация с 0)
            matrix[i][j] = '*'

# Вывод матрицы
for row in matrix:
    print(row)

['*', 2, '*']
[4, 5, 6]
['*', 8, '*']

In [ ]:
# Подключение библиотеки sympy
from sympy import symbols, Eq, solve
# Определение переменных
y, z, x, b = symbols("y, z, x, b")
# Уравнение 1
equation_1 = Eq(y**2 - 12*y + 20, 0) # Создание уравнения
solution_1 = solve(equation_1, y) # Решение уравнения
print("Уравнение 1 решения:", solution_1)
# Уравнение 2
equation_2 = Eq(z**2 + 17*z + 72, 0)
solution_2 = solve(equation_2, z)
print("Уравнение 2 решения:", solution_2)
# Уравнение 3
equation_3 = Eq(x**2 - 7*x - 44, 0)
solution_3 = solve(equation_3, x)
print("Уравнение 3 решения:", solution_3)
# Уравнение 4
equation_4 = Eq(y**2 + 9*y + 8, 0)
solution_4 = solve(equation_4, y)
print("Уравнение 3 решения:", solution_4)
# Уравнение 5
equation_5 = Eq(b**2 - 2*b - 63, 0)
solution_5 = solve(equation_5, b)
print("Уравнение 3 решения:", solution_5)
# Уравнение 6
u = symbols('u') # Заменяем Х^2-8 на u
equation_6 = Eq(u**2 + 4*u - 5, 0)
solution_6 = solve(equation_6, u)
print("Уравнение 3 решения:", solution_6)

Уравнение 1 решения: [2, 10]
Уравнение 2 решения: [-9, -8]
Уравнение 3 решения: [-4, 11]
Уравнение 3 решения: [-8, -1]
Уравнение 3 решения: [-7, 9]
Уравнение 3 решения: [-5, 1]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
def change(lst): # определение функции Change
    if len(lst) < 2: # Массив должен состоять из 2 и более элементов
        raise ValueError("Список должен содержать минимум 2 элемента.")

    # Меняем местами первый и последний элементы
    lst[0], lst[-1] = lst[-1], lst[0]
    return lst
lst = [1, 2, 3, 4, 5]
result = change(lst)
print(result)

def useless(s):
    if not s:
        raise ValueError("Список не должен быть пустым.")

    max_value = max(s)  # Находим максимальное значение в списке
    length = len(s)     # Находим длину списка
    return max_value / length  # Делим максимальное значение на длину списка
s = [10, 20, 30, 40]
useless_value = useless(s)
print(useless_value)

[5, 2, 3, 4, 1]
10.0

In [ ]:
d = set()

In [ ]:
print(type(a))

<class 'dict'>



```
# Выбран кодовый формат
```

# Lesson 3. Python Basics (types and structures).

## Математические операторы

In [ ]:
a = 5
b = 7

In [ ]:
#
c = a + b
print(f"{a} + {b} =", c)

#
c = a - b
print(f"{a} - {b} =", c)

#
c = a * b
print(f"{a} * {b} =", c)

#
c = a / b
print(f"{a} / {b} =", c)

#
c = a // b
print(f"{a} // {b} =", c)

#
c = a % b
print(f"{a} % {b} =", c)

#
c = 2 ** 5
print(f"2 ** 5 =", c)

5 + 7 = 12
5 - 7 = -2
5 * 7 = 35
5 / 7 = 0.7142857142857143
5 // 7 = 0
5 % 7 = 5
2 ** 5 = 32

In [ ]:
a = 5
b = 2
c = 3

In [ ]:
a = 2
for value in range(0, 5):
  a *= 2
a

0
1
2
3
4

64

In [ ]:
d = a + b * c
print(f"{a} + {b} * {c} = {d}")

d = (a + b) * c
print(f"({a} + {b}) * {c} = {d}")

d = (a + b + c) / 2
print(f"({a} + {b} + {c}) / 2 = {d}")

d = a / 2 + b / 2 + c / 2
print(f"{a} / 2 + {b} / 2 + {c} / 2 = {d}")

d = a * b ** c
print(f"{a} * {b} ** {c} = {d}")

d = a * b % c
print(f"{a} * {b} % {c} = {d}")

5 + 2 * 3 = 11
(5 + 2) * 3 = 21
(5 + 2 + 3) / 2 = 5.0
5 / 2 + 2 / 2 + 3 / 2 = 5.0
5 * 2 ** 3 = 40
5 * 2 % 3 = 1

### Порядок выполнения операторов в выражениях

1. ()
2. **
3. *, /, //, %
4. +, -

## Логические операторы

In [ ]:
a = 10
b = 5

c = True
d = False

AND - логическое "И"

OR - логическое "ИЛИ"

NOT - логическое отрицание

In [ ]:
print(f"{c} AND {d} = {c and d}")
print(f"{c} OR {d} == {c or d}")

print(f"\n{c} AND {c} = {c and c}")
print(f"{c} OR {c} = {c or c}")

print(f"\n{d} AND {d} = {d and d}")
print(f"{d} OR {d} = {d or d}")

print(f"\nNOT {d} = {not d}")
print(f"{c} AND NOT {d} = {c and not d}")

True AND False = False
True OR False == True

True AND True = True
True OR True = True

False AND False = False
False OR False = False

NOT False = True
True AND NOT False = True

In [ ]:
print(f"{a} > {b} = {a > b}")
print(f"{a} < {b} = {a < b}")
print(f"{a} == {b} * 2 = {a == b * 2}")
print(f"{a} <= {b} * 2 = {a <= b*2}")
print(f"{a} != {b} = {a != b}")

10 > 5 = True
10 < 5 = False
10 == 5 * 2 = True
10 <= 5 * 2 = True
10 != 5 = True

In [ ]:
print(f"2 * ({a} != {b}) = {2 * (a != b)}")
print(f"2 * ({a} == {b}) = {2 * (a == b)}")

print(f"\nint({a} != {b}) = {int(a != b)}")
print(f"int({a} == {b}) = {int(a == b)}")

2 * (10 != 5) = 2
2 * (10 == 5) = 0

int(10 != 5) = 1
int(10 == 5) = 0

In [ ]:
print(1 != 1)

False

In [ ]:
a = 2
if a > 20:
  print("На природу!")
elif a > 21:
  print("Дом")
else:
  print(1)

1

In [ ]:
time = 8  #current
if time <= 8:
  print("sleep")
elif time > 9:
  print('the end')
# else:
#   print("stand up")

1
sleep

## Коллекции

![COLLECTIONS](collections.png)

### List

In [ ]:
a = [1, 2, 3, 4, 5, 6]
print(type(a), a)

<class 'list'> [1, 2, 3, 4, 5, 6]

In [ ]:
for value in a:
  print(value)

1
2
3
4
5
6

In [ ]:
for idx in range(len(a)):
  print(a[idx])

1
2
3
4
5
6

In [ ]:
for value in a:
  print(value)

1
2
3
4
5
6

In [ ]:
a[3]

4

In [ ]:
a[3]= 4
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
for value in a:
  if value > 3:
    print(value)

4
5
6

In [ ]:
a = [1, 2.0, "3", False]
print(type(a), a)

<class 'list'> [1, 2.0, '3', False]

In [ ]:
# Изменяемость
a[1] = 20
print(a)

[1, 20, '3', False]

In [ ]:
a[1] = float(a[1])
a

[1, 20.0, '3', False]

In [ ]:
# Индексированность
index = 2
print(f"Get element by index <{index}> from {a} = {a[index]}")

Get element by index <2> from [1, 20, '3', False] = 3

In [ ]:
# Уникальность
a = [1, 1, 2, 2, 2]
a

[1, 1, 2, 2, 2]

In [ ]:
a = [1, 2, 3, 4, 5, 5, 5]
a.remove(5)
a

[1, 2, 3, 4, 5, 5]

In [ ]:
a = [1, 2, 3, 4, 5]
a.append(6)
a.extend([[7, 8, 9, 10]])

In [ ]:
len(a)

7

In [ ]:
a.extend(((1, 2, 3)))

In [ ]:
a

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10], 1, 2, 3, 1, 2, 3]

In [ ]:
a.extend([6])
a

[1, 2, 3, 4, 5, 5, 6]

In [ ]:
# Базовые методы списка
a = list()
print(f"List initialization: {a}")

a.append(10)
print(f"Append an element to the list: {a}")

a.append(20)
print(f"Append an element to the list: {a}")

a.append(30)
print(f"Append an element to the list: {a}")

a.append([1, 2 , 3])
print(f"Append an element to the list: {a}")

List initialization: []
Append an element to the list: [10]
Append an element to the list: [10, 20]
Append an element to the list: [10, 20, 30]
Append an element to the list: [10, 20, 30, [1, 2, 3]]

In [ ]:
name = 'Max'

In [ ]:
print(f"hello {name}")

hello Max

In [ ]:
a = [1, 2, 2, 2, 3, 4, 5]
a = set(a)
b = list(a)
b.remove(2)
b

[1, 3, 4, 5]

In [ ]:
a = [1, 2, 2, 2, 3, 4, 5]
a.extend([[1, 1, 2, 3]])
a

In [ ]:
a = [1, 2, 3, 3, 4]
print(f"Get element <{3}> index: {a.index(3)}")

a.remove(3)
print(f"Remove <3> element from the list: {a}")

Get element <3> index: 2
Remove <3> element from the list: [1, 2, 3, 4]

In [ ]:
# Базовые методы списка
a = list()
print(f"List initialization: {a}")

a.append(2)
print(f"Append an element to the list: {a}")

# a.extend

a.clear()
print(f"Clear the list: {a}")

a = [1, 2, 3, 4]
print(f"Get element <{3}> index: {a.index(3)}")

a.remove(3)
print(f"Remove <3> element from the list: {a}")

print(f"Get number of element <2> from the list [1, 2, 2, 2, 3]: {[1, 2, 2, 2, 3].count(2)}")

List initialization: []
Append an element to the list: [2]
Clear the list: []
Get element <3> index: 2
Remove <3> element from the list: [1, 2, 4]
Get number of element <2> from the list [1, 2, 2, 2, 3]: 3

### Tuple

In [ ]:
a = (1, 2, 3)
print(type(a), a)

<class 'tuple'> (1, 2, 3)

In [ ]:
a[2]

3

In [ ]:
print(f"Get element <{3}> index: {a.index(3)}")

Get element <3> index: 2

### String

In [ ]:
A = [1, 2, 3]
A.append(4)
A

[1, 2, 3, 4]

In [ ]:
a = "Hello, world!"
for l in a:
  print(l)
  if l == 'l':
    # break
    continue
  print(1)

H
1
e
1
l
l
o
1
,
1

1
w
1
o
1
r
1
l
d
1
!
1

In [ ]:
a[1]

'e'

In [ ]:
print(f"Get 1st element from the string: ", a[0])

Get 1st element from the string:  H

In [ ]:
a.replace("e", "")

'Hllo, World!'

In [ ]:
if len(a.replace(" world!", "")) == 6:
  print(11)

11

In [ ]:
a

'Hello, !'

In [ ]:
a.count("l")

3

In [ ]:
len(a)

13

In [ ]:
a.upper()

'HELLO, WORLD!'

In [ ]:
a.lower()

'hello, world!'

In [ ]:
a.startswith("H")

True

In [ ]:
a.endswith("!")

True

### Set

In [ ]:
a = {1, 2, 3}
print(type(a), a)

<class 'set'> {1, 2, 3}

In [ ]:
a[1]

TypeError: 'set' object is not subscriptable

In [ ]:
a = {1, 2, 2, 3}
print(a)

{1, 2, 3}

In [ ]:
a.add(4)
a

{1, 2, 3, 4}

In [ ]:
a.remove(4)
print(a)

{1, 2, 3}

### Dict

In [ ]:
a = {True: 1, False: 2}
print(type(a), a)

<class 'dict'> {True: 1, False: 2}

In [ ]:
a = {1: 1, 1.0: 2, True: 3}
a

{1: 3}

In [ ]:
hash('1')

-999786418677541696

In [ ]:
hash('Hello')

-8878514749577515883

In [ ]:
hash(True)

1

In [ ]:
hash(1.0)

1

In [ ]:
for key in a.keys(): print(key)

a
b
c

In [ ]:
a.values()

dict_values([1, 2, 3])

In [ ]:
a["b"]

2

In [ ]:
a["b"] = 3
a

{'a': 1, 'b': 3, 'c': 3}

In [ ]:
flag = False
if flag:
  print("Hello")

a < 10

### Исключения

In [ ]:
print(1/0)
print(1)

ZeroDivisionError: division by zero

In [ ]:
x

NameError: name 'x' is not defined

In [ ]:
try:
  print(1/0)
  print(1)
except NameError:
  print("exception")
print(12)

ZeroDivisionError: division by zero

In [ ]:
try:
  print(6 / 0)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")
print(1)

Something else went wrong
1

In [ ]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [ ]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")
finally:
  print("The 'try except' is finished")

Hello
Nothing went wrong
The 'try except' is finished

In [ ]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [ ]:
6 / 0

ZeroDivisionError: division by zero

In [ ]:
try:
  print(6 / 0)
except NameError:
  print('except')
else:
  print('else')

In [ ]:
[4, 7, 78, 459, 3, 5]

In [ ]:
task1 = [1, 2, 3, 4, 5] # ['*', 2, '*', 4, '*']

In [ ]:
a = [1, 2, 3, 4, 5] # [2, 6, 12, 20, 5]

In [ ]:
for v in enumerate(task1):
  print(v)

(0, 1)
(1, '*')
(2, 3)
(3, '*')
(4, 5)

In [ ]:
for idx, v in enumerate(task1):
  if v % 2 == 0:
    task1[idx] = '*'
task1

[1, '*', 3, '*', 5]

In [ ]:
for i in range(len(a)):
   a[i] *= a[i]
a

[1, 4, 9, 16, 25]

In [ ]:
for i in range(6,11):
  print(f"i={i}")
  a.append(i)
  print(a)

i=6
[1, 2, 3, 4, 5, 6]
i=7
[1, 2, 3, 4, 5, 6, 7]
i=8
[1, 2, 3, 4, 5, 6, 7, 8]
i=9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
i=10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
t = (1, 2, 3, 4, 5)
for tup in t:
  print(tup)

1
2
3
4
5

In [ ]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
for i in a:
  i = 10
a

[0, 2, 6, 12, 20, 30, 42, 56, 72, 90]

In [ ]:
lst = [[1, 2], [3, 4], [5, 6]]

In [ ]:
error_lst = [1, 2, 3, 4, 5]

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
for i in range(len(lst)):
  # if i % 2 == 0:
  lst[i][0] = 1000
lst

[[1000, 2], [1000, 4], [1000, 6]]

SyntaxError: invalid syntax (<ipython-input-2-94177b544279>, line 1)

In [ ]:
n = 6
while n < 0:
  print(n)
  n += 1