<a href="https://colab.research.google.com/github/D1emonk/My-repo/blob/dev/%22lesson10_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
# Установка и импорт библиотеки
!pip install sqlalchemy
import sqlalchemy
sqlalchemy.__version__
import sqlalchemy as db
import pandas as pd

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.37)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)

In [61]:
# создаем движок базы данных SQLite и указываем, что база будет храниться в файле mydb.db.
engine = db.create_engine('sqlite:///mydb.db')
# Создаем соединение с базой.
conn = engine.connect()
# создаем объект metadata, который хранит структуру базы данных.
metadata = db.MetaData()
dir(db)

['ARRAY',
 'AdaptedConnection',
 'Alias',
 'AliasedReturnsRows',
 'Any',
 'AssertionPool',
 'AsyncAdaptedQueuePool',
 'BIGINT',
 'BINARY',
 'BLANK_SCHEMA',
 'BLOB',
 'BOOLEAN',
 'BaseDDLElement',
 'BaseRow',
 'BigInteger',
 'BinaryExpression',
 'BindParameter',
 'BindTyping',
 'Boolean',
 'BooleanClauseList',
 'CHAR',
 'CLOB',
 'CTE',
 'CacheKey',
 'Case',
 'Cast',
 'CheckConstraint',
 'ChunkedIteratorResult',
 'ClauseElement',
 'ClauseList',
 'CollectionAggregate',
 'Column',
 'ColumnClause',
 'ColumnCollection',
 'ColumnDefault',
 'ColumnElement',
 'ColumnExpressionArgument',
 'ColumnOperators',
 'Compiled',
 'CompoundSelect',
 'Computed',
 'Connection',
 'Constraint',
 'CreateEnginePlugin',
 'CursorResult',
 'DATE',
 'DATETIME',
 'DDL',
 'DDLElement',
 'DECIMAL',
 'DOUBLE',
 'DOUBLE_PRECISION',
 'Date',
 'DateTime',
 'DefaultClause',
 'Delete',
 'Dialect',
 'Double',
 'Engine',
 'Enum',
 'ExceptionContext',
 'Executable',
 'ExecutableDDLElement',
 'ExecutionContext',
 'Exists',
 'Extract',
 'FLOAT',
 'FallbackAsyncAdaptedQueuePool',
 'False_',
 'FetchedValue',
 'Float',
 'ForeignKey',
 'ForeignKeyConstraint',
 'FromClause',
 'FromGrouping',
 'FrozenResult',
 'Function',
 'FunctionElement',
 'FunctionFilter',
 'GenerativeSelect',
 'Grouping',
 'HasCTE',
 'HasPrefixes',
 'HasSuffixes',
 'INT',
 'INTEGER',
 'Identity',
 'Index',
 'Insert',
 'Inspector',
 'Integer',
 'Interval',
 'IteratorResult',
 'JSON',
 'Join',
 'LABEL_STYLE_DEFAULT',
 'LABEL_STYLE_DISAMBIGUATE_ONLY',
 'LABEL_STYLE_NONE',
 'LABEL_STYLE_TABLENAME_PLUS_COL',
 'Label',
 'LambdaElement',
 'LargeBinary',
 'Lateral',
 'MappingResult',
 'MergedResult',
 'MetaData',
 'NCHAR',
 'NUMERIC',
 'NVARCHAR',
 'NestedTransaction',
 'NotNullable',
 'Null',
 'NullPool',
 'Nullable',
 'Numeric',
 'Operators',
 'Over',
 'PickleType',
 'Pool',
 'PoolProxiedConnection',
 'PoolResetState',
 'PrimaryKeyConstraint',
 'QueuePool',
 'REAL',
 'ReleaseSavepointClause',
 'Result',
 'ResultProxy',
 'ReturnsRows',
 'RollbackToSavepointClause',
 'RootTransaction',
 'Row',
 'RowMapping',
 'SMALLINT',
 'SQLColumnExpression',
 'SavepointClause',
 'ScalarResult',
 'ScalarSelect',
 'Select',
 'SelectBase',
 'SelectLabelStyle',
 'Selectable',
 'Sequence',
 'SingletonThreadPool',
 'SmallInteger',
 'StatementLambdaElement',
 'StaticPool',
 'String',
 'Subquery',
 'TEXT',
 'TIME',
 'TIMESTAMP',
 'Table',
 'TableClause',
 'TableSample',
 'TableValuedAlias',
 'Text',
 'TextAsFrom',
 'TextClause',
 'TextualSelect',
 'Time',
 'Transaction',
 'True_',
 'TryCast',
 'Tuple',
 'TupleType',
 'TwoPhaseTransaction',
 'TypeClause',
 'TypeCoerce',
 'TypeCompiler',
 'TypeDecorator',
 'URL',
 'UUID',
 'UnaryExpression',
 'Unicode',
 'UnicodeText',
 'UniqueConstraint',
 'Update',
 'UpdateBase',
 'Uuid',
 'VARBINARY',
 'VARCHAR',
 'Values',
 'ValuesBase',
 'Visitable',
 'WithinGroup',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__go',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_util',
 'alias',
 'all_',
 'and_',
 'annotations',
 'any_',
 'asc',
 'between',
 'bindparam',
 'bitwise_not',
 'case',
 'cast',
 'collate',
 'column',
 'create_engine',
 'create_mock_engine',
 'create_pool_from_url',
 'cte',
 'custom_op',
 'cyextension',
 'delete',
 'desc',
 'dialects',
 'distinct',
 'engine',
 'engine_from_config',
 'event',
 'exc',
 'except_',
 'except_all',
 'exists',
 'extract',
 'false',
 'func',
 'funcfilter',
 'insert',
 'insert_sentinel',
 'inspect',
 'inspection',
 'intersect',
 'intersect_all',
 'join',
 'label',
 'lambda_stmt',
 'lateral',
 'literal',
 'literal_column',
 'log',
 'make_url',
 'modifier',
 'not_',
 'null',
 'nulls_first',
 'nulls_last',
 'nullsfirst',
 'nullslast',
 'or_',
 'outerjoin',
 'outparam',
 'over',
 'pool',
 'quoted_name',
 'result_tuple',
 'schema',
 'select',
 'sql',
 'table',
 'tablesample',
 'text',
 'true',
 'try_cast',
 'tuple_',
 'type_coerce',
 'types',
 'union',
 'union_all',
 'update',
 'util',
 'values',
 'within_group']

In [62]:
# Создание таблицы Car
cars = db.Table(
    'Car', metadata,
    db.Column('car_id', db.Integer, primary_key=True),
    db.Column('car_name', db.Text,),
    db.Column('car_country', db.Text),
    db.Column('car_mileage', db.Integer),
    db.Column('car_price', db.Integer)
)
cars

Table('Car', MetaData(), Column('car_id', Integer(), table=<Car>, primary_key=True, nullable=False), Column('car_name', Text(), table=<Car>), Column('car_country', Text(), table=<Car>), Column('car_mileage', Integer(), table=<Car>), Column('car_price', Integer(), table=<Car>), schema=None)

In [63]:
# Создание таблицы клиент
clients = db.Table(
    'Client', metadata,
    db.Column('client_id', db.Integer, primary_key=True),
    db.Column('client_name', db.Text),
    db.Column('client_country', db.Text)
)

In [64]:
# Создание таблицы заказов
orders = db.Table(
    'Order', metadata,
    db.Column('order_id', db.Integer, primary_key=True),
    db.Column('client_id', db.Integer, db.ForeignKey('Client.client_id')),
    db.Column('car_id', db.Integer, db.ForeignKey('Car.car_id')),
    db.Column('order_date', db.Text)
)

In [65]:
# Создание таблицы сервисного обслуживания
services = db.Table(
    'Service', metadata,
    db.Column('services_id', db.Integer, primary_key=True),
    db.Column('car_id', db.Integer, db.ForeignKey('Car.car_id')),
    db.Column('order_date', db.Text),
    db.Column('service_cost', db.Integer)
)

In [66]:
# Cоздает таблицу в базе данных.
metadata.create_all(engine)

In [95]:
# Добавление данных в таблицу машины
insertion1 = cars.insert().values([
    {'car_name': 'Audi', 'car_country': 'Germany', 'car_mileage': 10000, 'car_price': 35500},
    {'car_name': 'BMW', 'car_country': 'Germany', 'car_mileage': 15600, 'car_price': 24500},
    {'car_name': 'Mercedes', 'car_country': 'Germany', 'car_mileage': 4000, 'car_price': 55500}

])

In [138]:
# Выполнение вставки
conn.execute(insertion1)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [68]:
# Добавление данных в таблицу клиенты
insertion2 = clients.insert().values([
    {'client_name': 'Danil', 'client_country': 'Russia'},
    {'client_name': 'Alexander', 'client_country': 'Belarus'},
    {'client_name': 'Maksim', 'client_country': 'Russia'}

])

In [117]:
conn.execute(insertion2)

In [69]:
# Добавление данных в таблицу заказов
insertion3 = orders.insert().values([
    {'client_id': 1, 'car_id': 1, 'order_date': '12.09.24'},
    {'client_id': 2, 'car_id': 2,'order_date': '05.11.24'},
    {'client_id': 3, 'car_id': 3,'order_date': '27.12.24'}

])

In [118]:
conn.execute(insertion3)

In [70]:
# Добавление данных в таблицу сервисного обслуживания
insertion4 = services.insert().values([
    {'car_id': 1, 'order_date': '11.01.25', 'service_cost': 5000},
    {'car_id': 2,'order_date': '15.01.25', 'service_cost': 2500},
    {'car_id': 3,'order_date': '29.02.25', 'service_cost': 500}

])

In [119]:
conn.execute(insertion4)

In [152]:
conn.rollback() # Откат транзакции

In [156]:
conn.commit()

In [120]:
select_all_query = db.select(cars)
select_result = conn.execute(select_all_query)
select_result

In [126]:
select_result.fetchall()

[]

In [73]:
select_all_query = db.select(clients)
select_result = conn.execute(select_all_query)
select_result

In [74]:
select_result.fetchall()

[(1, 'Danil', 'Russia'),
 (2, 'Alexander', 'Belarus'),
 (3, 'Maksim', 'Russia'),
 (4, 'Danil', 'Russia'),
 (5, 'Alexander', 'Belarus'),
 (6, 'Maksim', 'Russia')]

In [75]:
select_all_query = db.select(orders)
select_result = conn.execute(select_all_query)
select_result

In [76]:
select_result.fetchall()

[(1, 1, 1, '12.09.24'),
 (2, 2, 2, '05.11.24'),
 (3, 3, 3, '27.12.24'),
 (4, 1, 1, '12.09.24'),
 (5, 2, 2, '05.11.24'),
 (6, 3, 3, '27.12.24')]

In [77]:
select_all_query = db.select(services)
select_result = conn.execute(select_all_query)
select_result

In [78]:
select_result.fetchall()

[(1, 1, '11.01.25', 5000),
 (2, 2, '15.01.25', 2500),
 (3, 3, '29.02.25', 500),
 (4, 1, '11.01.25', 5000),
 (5, 2, '15.01.25', 2500),
 (6, 3, '29.02.25', 500)]

In [154]:
conn.close()  # Закрываем текущее соединение
conn = engine.connect()  # Открываем новое

In [107]:
# HAVING — Фильтрация агрегированных данных
having_query = db.text("""
    SELECT car_country, AVG(car_price) AS avg_price
    FROM Car
    GROUP BY car_country
    HAVING avg_price > 30000;
""")
result = conn.execute(having_query)
print(result.fetchall())

[('Germany', 38500.0)]

In [108]:
# INNER JOIN — соединение таблиц (только совпадающие записи)
inner_join_query = db.text("""
    SELECT orders.order_id, clients.client_name, cars.car_name, orders.order_date
    FROM "Order" AS orders
    INNER JOIN "Client" AS clients ON orders.client_id = clients.client_id
    INNER JOIN "Car" AS cars ON orders.car_id = cars.car_id;
""")
result = conn.execute(inner_join_query)
print(result.fetchall())

[(1, 'Danil', 'Audi', '12.09.24'), (2, 'Alexander', 'BMW', '05.11.24'), (3, 'Maksim', 'Mercedes', '27.12.24'), (4, 'Danil', 'Audi', '12.09.24'), (5, 'Alexander', 'BMW', '05.11.24'), (6, 'Maksim', 'Mercedes', '27.12.24')]

In [113]:
"""SELECT orders.order_id, clients.client_name, cars.car_name, orders.order_date
    FROM Order
    INNER JOIN Client ON orders.client_id = clients.client_id
    INNER JOIN Car ON orders.car_id = cars.car_id;"""

'SELECT orders.order_id, clients.client_name, cars.car_name, orders.order_date\n    FROM Order\n    INNER JOIN Client ON orders.client_id = clients.client_id\n    INNER JOIN Car ON orders.car_id = cars.car_id;'

In [142]:
# LEFT JOIN — соединение таблиц (все клиенты, даже без заказов)
left_join_query = db.text("""
    SELECT clients.client_name, orders.order_id, orders.order_date
    FROM "Client" AS clients
    LEFT JOIN "Order" AS orders ON clients.client_id = orders.client_id;
""")
result = conn.execute(left_join_query)
print(result.fetchall())

[('Danil', 1, '12.09.24'), ('Danil', 4, '12.09.24'), ('Alexander', 2, '05.11.24'), ('Alexander', 5, '05.11.24'), ('Maksim', 3, '27.12.24'), ('Maksim', 6, '27.12.24'), ('Danil', None, None), ('Alexander', None, None), ('Maksim', None, None)]

In [143]:
# UNION — объединение двух запросов
union_query = db.text("""
    SELECT order_id AS id, order_date, 'Order' AS type FROM orders
    UNION
    SELECT services_id AS id, order_date, 'Service' AS type FROM services;
""")
result = conn.execute(union_query)
print(result.fetchall())

OperationalError: (sqlite3.OperationalError) no such table: services
[SQL:
    SELECT order_id AS id, order_date, 'Order' AS type FROM orders
    UNION
    SELECT services_id AS id, order_date, 'Service' AS type FROM services;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [144]:
# Подзапрос (Subquery) — выбор клиентов с заказами
subquery_query = db.text("""
    SELECT client_name
    FROM clients
    WHERE client_id IN (SELECT DISTINCT client_id FROM orders);
""")
result = conn.execute(subquery_query)
print(result.fetchall())

OperationalError: (sqlite3.OperationalError) no such table: clients
[SQL:
    SELECT client_name
    FROM clients
    WHERE client_id IN (SELECT DISTINCT client_id FROM orders);
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [157]:
delete_duplicates_query = db.text("""
    DELETE FROM Car
    WHERE car_id NOT IN (
        SELECT MIN(car_id)
        FROM Car
        GROUP BY car_name, car_country, car_mileage, car_price
    );
""")
conn.execute(delete_duplicates_query)
conn.commit()  # Не забудьте закоммитить!

OperationalError: (sqlite3.OperationalError) database is locked
[SQL:
    DELETE FROM Car
    WHERE car_id NOT IN (
        SELECT MIN(car_id)
        FROM Car
        GROUP BY car_name, car_country, car_mileage, car_price
    );
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)